@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f8f8f8;
  font-family: "Poppins", sans-serif;
}

.content-container {
  padding-left: 100px !important;
  padding-right: 100px !important;
}

/* nav bar  */
.nav-container {
  background-color: #ffffff;
}

.nav-bar {
  padding: 30px 0 !important;
}

.nav-bar .logo-container img {
  height: 20px;
}

.nav-bar .input-container {
  background-color: #ededed;
  padding: 8px 8px 8px 20px !important;
  border-radius: 100px;
}

.nav-bar .input-container input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 400px;
}

.nav-bar .input-container .icon-container {
  background-color: #ff5a10;
  padding: 10px !important;
  border-radius: 50%;
}

.nav-bar .input-container .icon-container img {
  height: 16px;
  width: 16px;
  object-fit: contain;
}

.nav-bar .link-container a {
  width: auto;
  padding-left: 40px !important;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
}

.nav-bar .link-container a .img-link {
  height: 16px;
  width: 16px;
  object-fit: contain;
}

.nav-bar .link-container a .profile-container {
  height: 50px;
  width: 50px;
  min-height: 50px;
  max-height: 50px;
  min-width: 50px;
  max-width: 50px;
  padding: 2px !important;
  border: 1px solid #006ce6;
  border-radius: 50%;
}

.nav-bar .link-container a .profile-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* tab container  */
.tab-container {
  padding-left: 100px !important;
  padding-right: 100px !important;
  border-bottom: 2px solid #c7c7c7;
  padding-bottom: 17px !important;
}

.tab-container .tab-link {
  font-size: 14px;
  color: #959595;
  font-weight: normal;
  position: relative;
  margin-right: 50px !important;
  text-decoration: none;
  padding-bottom: 20px !important;
  pointer-events: none;
}

.tab-container .tab-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  height: 2px;
  background-color: #006ce6;
  bottom: 0;
  left: 0;
  display: none;
}

.tab-container .tab-link.active {
  color: #006ce6;
  font-weight: bold;
}

.tab-container .tab-link.active::after {
  display: block;
}

/* main container  */
.main-container {
  padding-top: 50px !important;
  padding-bottom: 20px !important;
}

.main-container.hidden {
  display: none;
}

/* room choose  */
/* header-container  */
.main-container .header-container {
  margin-bottom: 50px !important;
}

.main-container .header-container p {
  font-size: 14px;
  color: #959595;
}

.main-container .header-container .heading-text {
  border-bottom: 2px solid #95959533;
}

.main-container .header-container .heading-text h1 {
  font-size: 28px;
  font-weight: bold;
}

.main-container .header-container .heading-text a {
  background-color: #000000;
  color: #ffffff;
  font-size: 12px;
  text-decoration: none;
  margin-left: 8px !important;
  padding: 5px 20px !important;
  border-radius: 100px;
}

.main-container .header-container .image-container {
  width: 100%;
  height: 550px;
  border-radius: 12px;
}

.main-container .header-container .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

/* details container */
.main-container .details-container {
  margin-bottom: 80px !important;
}

.main-container .details-container .header-text h1 {
  font-size: 28px;
  font-weight: bold;
}

.main-container .details-container .header-text .selected-box {
  background-color: #e2f0ff;
  border-radius: 100px;
  padding: 10px 20px !important;
}

.main-container .details-container .header-text .selected-box img {
  height: 14px;
  margin-right: 10px !important;
}

.main-container .details-container .header-text .selected-box p {
  font-size: 14px;
  font-weight: 600;
  color: #006ce6;
}

.main-container .details-container .list-box .left-box .list {
  margin-bottom: 20px !important;
}

.main-container .details-container .list-box .left-box .list:nth-last-child(1) {
  margin-bottom: 0 !important;
}

.main-container .details-container .list-box .left-box .list img {
  height: 18px;
  width: 18px;
  object-fit: contain;
  margin-right: 10px !important;
}

.main-container .details-container .list-box .left-box .list p {
  font-size: 16px;
}

.main-container .details-container .list-box .right-box .rate-box {
  text-align: right;
}

.main-container .details-container .list-box .right-box .rate-box h1 {
  font-weight: bold;
  font-size: 18px;
  margin-left: 10px !important;
}

.main-container .details-container .list-box .right-box .rate-box span {
  font-weight: normal;
  font-size: 18px;
  text-decoration: line-through;
  color: #959595;
}

.main-container .details-container .list-box .right-box .rate-box p {
  font-size: 12px;
  color: #959595;
}

.main-container .details-container .list-box .right-box .rate-box h5 {
  font-size: 12px;
  color: #000000;
}

.main-container .details-container .list-box .right-box .price-list {
  position: relative;
}

.main-container
  .details-container
  .list-box
  .right-box
  .price-list
  .price-btn
  p {
  font-size: 14px;
  color: #006ce6;
  margin-right: 10px !important;
  pointer-events: none;
}

.main-container
  .details-container
  .list-box
  .right-box
  .price-list
  .price-btn
  img {
  pointer-events: none;
}

.main-container
  .details-container
  .list-box
  .right-box
  .price-list
  .box-wrapper {
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
}

.main-container .details-container .list-box .right-box .price-list .box {
  background-color: #ffffff;
  padding: 30px 20px !important;
  border-radius: 18px;
  min-width: 270px;
  max-width: 270px;
  width: 270px;
  filter: drop-shadow(55px 154px 145px rgba(0, 0, 0, 0.2));
  z-index: 999;
}

.main-container .details-container .list-box .right-box .price-list .box h1 {
  font-size: 16px;
  font-weight: bold;
}

.main-container .details-container .list-box .right-box .price-list .box .list {
  margin-bottom: 20px !important;
}

.main-container
  .details-container
  .list-box
  .right-box
  .price-list
  .box
  .list
  p {
  color: #4e4e4e;
  font-size: 14px;
}

.main-container
  .details-container
  .list-box
  .right-box
  .price-list
  .box
  .list
  p.total-text {
  color: #000000;
  font-weight: bold;
}

.main-container
  .details-container
  .list-box
  .right-box
  .price-list
  .box
  .discount-text
  p {
  font-size: 10px;
  color: #4e4e4e;
}

.main-container
  .details-container
  .list-box
  .right-box
  .price-list
  .box
  .btn-container
  a {
  background-color: #ff5a10;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 30px !important;
  text-decoration: none;
}

.main-container .details-container .list-box .right-box .btn-container a {
  padding: 10px 40px !important;
  border-radius: 100px;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}

.main-container
  .details-container
  .list-box
  .right-box
  .btn-container
  a.back-btn {
  background-color: #ffffff;
  color: #ff5a10;
  border: 1px solid #ff5a10;
}

.main-container
  .details-container
  .list-box
  .right-box
  .btn-container
  a.reserve-btn {
  background-color: #ff5a10;
  color: #ffffff;
  margin-left: 20px !important;
}

/* amenities container  */
.amenities-container {
  margin-bottom: 30px !important;
}
.amenities-container .amenities-heading h1 {
  color: #000000;
  font-weight: 600;
  font-size: 24px;
}

.amenities-container .box {
  margin-bottom: 30px !important;
}

.amenities-container .box .list-head {
  margin-bottom: 15px !important;
}

.amenities-container .box .list-head img {
  height: 18px;
  width: 18px;
  object-fit: contain;
  margin-right: 20px !important;
}

.amenities-container .box .list-head h1 {
  font-weight: 600;
  font-size: 16px;
}

.amenities-container .box .list {
  margin-bottom: 4px !important;
  padding-left: 16px !important;
}

.amenities-container .box .list img {
  height: 12px;
  width: 12px;
  object-fit: contain;
  margin-right: 10px !important;
}

.amenities-container .box .list p {
  font-size: 12px;
  color: #000000;
}

/* confirmation container */
.main-container .confirmation-box {
  background-color: #ffffff;
  margin-bottom: 50px !important;
  border-radius: 18px;
  padding: 40px !important;
}

.main-container .confirmation-box .confirmation-detail-box {
  border-bottom: 2px solid #95959533;
}

.main-container .confirmation-box .header-box p {
  font-size: 14px;
  color: #959595;
}

.main-container .confirmation-box .header-box .heading-text {
  border-bottom: 2px solid #95959533;
}

.main-container .confirmation-box .header-box .heading-text h1 {
  font-size: 28px;
  font-weight: bold;
}

.main-container .confirmation-box .header-box .heading-text a {
  background-color: #000000;
  color: #ffffff;
  font-size: 12px;
  text-decoration: none;
  margin-left: 8px !important;
  padding: 5px 20px !important;
  border-radius: 100px;
}

.main-container
  .confirmation-box
  .confirmation-detail-box
  .left-box
  .image-container {
  min-width: 360px;
  max-width: 360px;
  min-height: 230px;
  max-height: 230px;
  width: 360px;
  height: 230px;
  border-radius: 12px;
}

.main-container
  .confirmation-box
  .confirmation-detail-box
  .left-box
  .image-container
  img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.main-container .confirmation-box .confirmation-detail-box .right-box {
  width: 100%;
}

.main-container
  .confirmation-box
  .confirmation-detail-box
  .right-box
  .header-text
  h1 {
  font-size: 18px;
  font-weight: bold;
}

.main-container
  .confirmation-box
  .confirmation-detail-box
  .right-box
  .header-text
  .selected-box {
  background-color: #e2f0ff;
  border-radius: 100px;
  padding: 10px 20px !important;
}

.main-container
  .confirmation-box
  .confirmation-detail-box
  .right-box
  .header-text
  .selected-box
  img {
  height: 12px;
  margin-right: 10px !important;
}

.main-container
  .confirmation-box
  .confirmation-detail-box
  .right-box
  .header-text
  .selected-box
  p {
  font-size: 12px;
  font-weight: 600;
  color: #006ce6;
}

.main-container
  .confirmation-box
  .confirmation-detail-box
  .right-box
  .detail-box
  .list-box
  .list {
  margin-bottom: 10px !important;
}

.main-container
  .confirmation-box
  .confirmation-detail-box
  .right-box
  .detail-box
  .list-box
  .list:nth-last-child(1) {
  margin-bottom: 0 !important;
}

.main-container
  .confirmation-box
  .confirmation-detail-box
  .right-box
  .detail-box
  .list-box
  .list
  img {
  height: 16px;
  width: 16px;
  object-fit: contain;
  margin-right: 10px !important;
}

.main-container
  .confirmation-box
  .confirmation-detail-box
  .right-box
  .detail-box
  .list-box
  .list
  p {
  font-size: 14px;
}

.main-container
  .confirmation-box
  .confirmation-detail-box
  .right-box
  .detail-box
  .rate-box {
  text-align: right;
}

.main-container
  .confirmation-box
  .confirmation-detail-box
  .right-box
  .detail-box
  .rate-box
  h1 {
  font-weight: bold;
  font-size: 18px;
  margin-left: 10px !important;
}

.main-container
  .confirmation-box
  .confirmation-detail-box
  .right-box
  .detail-box
  .rate-box
  p {
  font-size: 12px;
  color: #959595;
}

.main-container
  .confirmation-box
  .confirmation-detail-box
  .right-box
  .detail-box
  .rate-box
  h5 {
  font-size: 12px;
  color: #000000;
}

.main-container .confirmation-box .btn-box .change-room-link {
  color: #006ce6;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.main-container .confirmation-box .btn-box .btn-container a {
  padding: 14px 50px !important;
  border-radius: 100px;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}

.main-container .confirmation-box .btn-box .btn-container a.back-btn {
  background-color: #ffffff;
  color: #ff5a10;
  border: 1px solid #ff5a10;
}

.main-container .confirmation-box .btn-box .btn-container a.confirm-btn {
  background-color: #ff5a10;
  color: #ffffff;
  margin-left: 20px !important;
}

/* checkout container  */
.main-container .checkout-box {
  margin-bottom: 50px !important;
}

.main-container .checkout-heading h1 {
  font-weight: bold;
  font-size: 26px;
}

.main-container .checkout-box .left-box {
  width: 70%;
}

.main-container .checkout-box .left-box .profile-box {
  background-color: #ffffff;
  border-radius: 18px;
  padding: 20px 10px !important;
  margin-bottom: 30px !important;
}

.main-container .checkout-box .left-box .profile-box .image-container {
  max-width: 40px;
  max-height: 40px;
  min-width: 40px;
  min-height: 40px;
  width: 40px;
  height: 40px;
  padding: 1px !important;
  border: 1px solid #006ce6;
  border-radius: 50%;
}

.main-container .checkout-box .left-box .profile-box .image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.main-container .checkout-box .left-box .profile-box .profile-details p {
  font-size: 12px;
}

.main-container .checkout-box .left-box .profile-box .profile-details h1 {
  font-weight: bold;
  font-size: 14px;
}

.main-container .checkout-box .left-box .profile-box .profile-details span {
  font-size: 10px;
  color: #006ce6;
}

.main-container .checkout-box .left-box .room-form-box {
  background-color: #ffffff;
  border-radius: 18px;
  padding: 40px !important;
  margin-bottom: 30px !important;
}

.main-container .checkout-box .left-box .room-form-box .room-form-heading h1 {
  font-weight: 600;
  font-size: 20px;
}

.main-container .checkout-box .left-box .room-form-box .room-form-heading p {
  font-size: 12px;
  color: #000000;
}

.main-container
  .checkout-box
  .left-box
  .room-form-box
  .form-container
  .form-list {
  margin-bottom: 12px !important;
  width: 400px;
}

.main-container
  .checkout-box
  .left-box
  .room-form-box
  .form-container
  .form-list
  label {
  color: #000000;
  font-size: 12px;
  font-weight: 600;
}

.main-container
  .checkout-box
  .left-box
  .room-form-box
  .form-container
  .form-list
  label
  span {
  color: #ff1010;
}

.main-container
  .checkout-box
  .left-box
  .room-form-box
  .form-container
  .form-list
  input {
  border: none;
  outline: none;
  background: #ffffff;
  border: 1px solid #d1d1d1;
  padding: 8px 20px !important;
  border-radius: 100px;
  font-size: 12px;
  width: 100%;
}

.main-container
  .checkout-box
  .left-box
  .room-form-box
  .form-container
  .form-list
  input::placeholder {
  color: #959595;
  font-size: 12px;
}

.main-container
  .checkout-box
  .left-box
  .room-form-box
  .form-container
  .form-list
  input.phone-input1 {
  width: 100px;
  margin-right: 10px !important;
}

.main-container
  .checkout-box
  .left-box
  .room-form-box
  .form-container
  .check-input
  .circle-box {
  max-width: 10px;
  max-height: 10px;
  min-width: 10px;
  min-height: 10px;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px !important;
}

.main-container
  .checkout-box
  .left-box
  .room-form-box
  .form-container
  .check-input
  .circle-box
  .inner-box {
  background-color: #ffffff;
  max-width: 4px;
  max-height: 4px;
  min-width: 4px;
  min-height: 4px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  pointer-events: none;
  display: none;
}

.main-container
  .checkout-box
  .left-box
  .room-form-box
  .form-container
  .check-input
  .circle-box.active {
  background-color: #006ce6;
  border-color: #006ce6;
}

.main-container
  .checkout-box
  .left-box
  .room-form-box
  .form-container
  .check-input
  .circle-box.active
  .inner-box {
  display: block;
}

.main-container
  .checkout-box
  .left-box
  .room-form-box
  .form-container
  .check-input
  p {
  font-size: 12px;
  color: #959595;
}

.main-container
  .checkout-box
  .left-box
  .room-form-box
  .form-container
  .special-box {
  position: relative;
}

.main-container
  .checkout-box
  .left-box
  .room-form-box
  .form-container
  .special-box
  .item-box {
  cursor: pointer;
}

.main-container
  .checkout-box
  .left-box
  .room-form-box
  .form-container
  .special-box
  .item-box
  img {
  pointer-events: none;
}

.main-container
  .checkout-box
  .left-box
  .room-form-box
  .form-container
  .special-box
  .item-box
  p {
  color: #006ce6;
  font-size: 14px;
  margin-left: 4px !important;
  margin-right: 6px !important;
  pointer-events: none;
}

.main-container
  .checkout-box
  .left-box
  .room-form-box
  .form-container
  .special-box
  .item-box
  .blue-arrow-icon {
  height: 14px;
  pointer-events: none;
}

.main-container
  .checkout-box
  .left-box
  .room-form-box
  .form-container
  .special-box
  .drop-box {
  background-color: #ffffff;
  border-radius: 18px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 25px;
  filter: drop-shadow(55px 154px 145px rgba(0, 0, 0, 0.2));
}

.main-container
  .checkout-box
  .left-box
  .room-form-box
  .form-container
  .special-box
  .drop-box
  h1 {
  color: #000000;
  font-size: 12px;
  font-weight: 600;
}

.main-container
  .checkout-box
  .left-box
  .room-form-box
  .form-container
  .special-box
  .drop-box
  p {
  color: #000000;
  font-size: 12px;
}

.main-container
  .checkout-box
  .left-box
  .room-form-box
  .form-container
  .special-box
  .drop-box
  input {
  border: none;
  outline: none;
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
  padding: 10px 20px !important;
  font-size: 12px;
  width: 100%;
}

.main-container
  .checkout-box
  .left-box
  .room-form-box
  .form-container
  .special-box
  .drop-box
  input::placeholder {
  color: #959595;
}

.main-container .checkout-box .left-box .payment-form-box {
  padding: 40px !important;
  background-color: #ffffff;
  margin-bottom: 30px !important;
  border-radius: 18px;
}

.main-container
  .checkout-box
  .left-box
  .payment-form-box
  .payment-form-heading
  h1 {
  font-size: 22px;
  font-weight: 600;
}

.main-container
  .checkout-box
  .left-box
  .payment-form-box
  .payment-form-heading
  p {
  color: #a9a9a9;
  font-size: 10px;
  font-weight: normal;
}

.main-container
  .checkout-box
  .left-box
  .payment-form-box
  .form-container
  .check-input
  .circle-box {
  max-width: 16px;
  max-height: 16px;
  min-width: 16px;
  min-height: 16px;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px !important;
}

.main-container
  .checkout-box
  .left-box
  .payment-form-box
  .form-container
  .check-input
  .circle-box
  .inner-box {
  background-color: #ffffff;
  max-width: 8px;
  max-height: 8px;
  min-width: 8px;
  min-height: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  pointer-events: none;
  display: none;
}

.main-container
  .checkout-box
  .left-box
  .payment-form-box
  .form-container
  .check-input
  .circle-box.active {
  background-color: #006ce6;
  border-color: #006ce6;
}

.main-container
  .checkout-box
  .left-box
  .payment-form-box
  .form-container
  .check-input
  .circle-box.active
  .inner-box {
  display: block;
}

.main-container
  .checkout-box
  .left-box
  .payment-form-box
  .form-container
  .check-input
  p {
  font-size: 12px;
  color: #000000;
  font-weight: 600;
}

.main-container
  .checkout-box
  .left-box
  .payment-form-box
  .form-container
  .form-list {
  margin-bottom: 12px !important;
  width: 100%;
}

.main-container
  .checkout-box
  .left-box
  .payment-form-box
  .form-container
  .form-list
  label {
  color: #000000;
  font-size: 12px;
  font-weight: 600;
}

.main-container
  .checkout-box
  .left-box
  .payment-form-box
  .form-container
  .form-list
  label
  span {
  color: #ff1010;
}

.main-container
  .checkout-box
  .left-box
  .payment-form-box
  .form-container
  .form-list
  input {
  border: none;
  outline: none;
  background: #ffffff;
  border: 1px solid #d1d1d1;
  padding: 8px 20px !important;
  border-radius: 100px;
  font-size: 12px;
  width: 100%;
}

.main-container
  .checkout-box
  .left-box
  .payment-form-box
  .form-container
  .form-list
  input::placeholder {
  color: #959595;
  font-size: 12px;
}

/* checkout right box */
.main-container .checkout-box .right-box {
  width: 30%;
  background-color: #ffffff;
  border-radius: 18px 18px 0px 0px;
}

.main-container .checkout-box .right-box .image-heading {
  width: 100%;
  height: 270px;
  border-radius: 18px 18px 0px 0px;
}

.main-container .checkout-box .right-box .image-heading img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px 18px 0px 0px;
}

.main-container .checkout-box .right-box .right-details .address-box h1 {
  font-size: 14px;
  font-weight: normal;
}

.main-container .checkout-box .right-box .right-details .rating-box img {
  height: 12px;
  margin-right: 5px !important;
}

.main-container .checkout-box .right-box .right-details .rating-box p {
  color: #ff5a10;
  font-size: 12px;
  margin-right: 10px !important;
}

.main-container .checkout-box .right-box .right-details .rating-box span {
  color: #006ce6;
  font-size: 12px;
}

.main-container
  .checkout-box
  .right-box
  .right-details
  .booking-box
  .booking-heading
  h1 {
  font-size: 16px;
  font-weight: bold;
}

.main-container
  .checkout-box
  .right-box
  .right-details
  .booking-box
  .list-box
  .list
  h1 {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.6;
}

.main-container
  .checkout-box
  .right-box
  .right-details
  .booking-box
  .list-box
  .list
  p {
  font-size: 12px;
  font-weight: normal;
  line-height: 1.6;
}

.main-container
  .checkout-box
  .right-box
  .right-details
  .price-box
  .price-heading
  h1 {
  font-size: 16px;
  font-weight: bold;
}

.main-container .checkout-box .right-box .right-details .price-box .list-box {
  border-bottom: 1px solid #9595957e;
}

.main-container .checkout-box .right-box .right-details .price-box .list {
  margin-bottom: 10px !important;
}

.main-container .checkout-box .right-box .right-details .price-box .list h1 {
  font-size: 12px;
  font-weight: bold;
}

.main-container .checkout-box .right-box .right-details .price-box .list p {
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5;
}

.main-container
  .checkout-box
  .right-box
  .right-details
  .time-box
  .time-heading
  h1 {
  font-size: 16px;
  font-weight: bold;
}

.main-container .checkout-box .right-box .right-details .time-box .time-note p {
  font-size: 12px;
}

.main-container
  .checkout-box
  .right-box
  .right-details
  .time-box
  .input-container
  label {
  font-size: 10px;
}

.main-container
  .checkout-box
  .right-box
  .right-details
  .payment-box
  .payment-heading
  h1 {
  font-size: 16px;
  font-weight: bold;
}

.main-container
  .checkout-box
  .right-box
  .right-details
  .payment-box
  .payment-note
  p {
  font-size: 12px;
}

.main-container
  .checkout-box
  .right-box
  .right-details
  .cancel-box
  .cancel-heading
  h1 {
  font-size: 16px;
  font-weight: bold;
}

.main-container
  .checkout-box
  .right-box
  .right-details
  .cancel-box
  .cancel-note
  p {
  font-size: 12px;
  color: #006ce6;
}

.main-container .checkout-box .right-box .right-details .cancel-box .list p {
  font-size: 12px;
}

.main-container .additional-box {
  background-color: #ffffff;
  border-radius: 18px;
  padding: 40px !important;
  margin-bottom: 40px !important  ;
}

.main-container .additional-box .additional-heading h1 {
  font-weight: bold;
  font-size: 20px;
}

.main-container .additional-box p {
  color: #a9a9a9;
  font-size: 12px;
}

.main-container .additional-box .input-container label {
  color: #151515;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 8px !important;
}

.main-container .additional-box .input-container textarea {
  width: 100%;
  border: none;
  outline: none;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
  padding: 10px 20px !important;
  font-size: 12px;
}

.main-container .additional-box .input-container textarea::placeholder {
  color: #a9a9a9;
  font-size: 12px;
}

.main-container .terms-box .circle-box {
  max-width: 18px;
  max-height: 18px;
  min-width: 18px;
  min-height: 18px;
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px !important;
}

.main-container .terms-box .circle-box .inner-box {
  background-color: #ffffff;
  max-width: 8px;
  max-height: 8px;
  min-width: 8px;
  min-height: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  pointer-events: none;
  display: none;
}

.main-container .terms-box .circle-box.active {
  background-color: #006ce6;
  border-color: #006ce6;
}

.main-container .terms-box .circle-box.active .inner-box {
  display: block;
}

.main-container .terms-box p {
  font-size: 12px;
}

.main-container .policy-box p {
  font-size: 12px;
}

.main-container .policy-box p a {
  text-decoration: none;
  color: #006ce6;
}

.main-container .booking-btn-container a {
  font-size: 14px;
  font-weight: bold;
  padding: 12px 34px !important;
  border-radius: 100px;
}

.main-container .booking-btn-container a.complete-booking-btn {
  background-color: #ff5a10;
  color: #ffffff;
  margin-right: 20px !important;
}

.main-container .booking-btn-container a.check-booking-btn {
  background-color: transparent;
  color: #ff5a10;
  border: 1px solid #ff5a10;
}

/* footer container  */
.footer-container {
  padding-top: 100px !important;
  padding-bottom: 50px !important;
  background-color: #ffffff;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.footer-container .footer-logo img {
  height: 20px;
}

.footer-container .footer-links p {
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px !important;
}

.footer-container .footer-links .link-list a {
  font-size: 12px;
  color: #006ce6;
  line-height: 1;
  margin-bottom: 20px !important;
}

@media (max-width: 991px) {
  .footer-container .footer-box {
    margin-bottom: 30px !important;
  }
}

@media (max-width: 575px) {
  .footer-container .footer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer-container .footer-links .link-list {
    align-items: center;
  }
}
