@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f8f8f8;
  font-family: "Poppins", sans-serif;
}

body.fixed-body {
  overflow: hidden;
}

.content-container {
  padding-left: 100px !important;
  padding-right: 100px !important;
}

/* nav bar  */
.nav-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
}

.nav-bar {
  padding: 30px 0 !important;
}

.nav-bar .logo-container img {
  height: 22px;
}

.nav-bar .input-container {
  background-color: #ededed;
  padding: 8px 8px 8px 20px !important;
  border-radius: 100px;
}

.nav-bar .input-container input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 400px;
}

.nav-bar .input-container .icon-container {
  background-color: #ff5a10;
  padding: 10px !important;
  border-radius: 50%;
}

.nav-bar .input-container .icon-container img {
  height: 16px;
  width: 16px;
  object-fit: contain;
}

.nav-bar .link-container a {
  width: auto;
  padding-left: 40px !important;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}

.nav-bar .link-container a:nth-child(1) {
  padding-left: 0 !important;
}

.nav-bar .link-container a .img-link {
  height: 16px;
  width: 16px;
  object-fit: contain;
}

.nav-bar .link-container a .profile-container {
  height: 50px;
  width: 50px;
  min-height: 50px;
  max-height: 50px;
  min-width: 50px;
  max-width: 50px;
  padding: 2px !important;
  border: 1px solid #006ce6;
  border-radius: 50%;
}

.nav-bar .link-container a .profile-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.nav-tab {
  display: none;
  cursor: pointer;
}

.nav-tab span {
  width: 28px;
  height: 3px;
  border-radius: 10px;
  background-color: #ffffff;
  margin: 5px 0 !important;
  pointer-events: none;
}

/* mobile nav  */
.mobile-nav {
  width: 200px;
  max-width: 200px;
  min-width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 999;
  padding: 30px 20px !important;
  left: -100%;
  opacity: 0;
}

.mobile-nav .mobile-logo img {
  height: 20px;
}

.mobile-nav .mobile-links {
  padding: 20px 0 !important;
}

.mobile-nav .mobile-links a {
  color: #000000;
  margin: 12px 0 !important;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  font-size: 14px;
}

.mobile-nav .mobile-links a.nav-lang img {
  height: 16px;
  width: 16px;
  object-fit: contain;
}

.mobile-nav .mobile-links a:active {
  transform: scale(0.99);
}

/* .head container  */
.head-container {
  position: relative;
  width: 100%;
  height: 90vh;
  background: url(../image/temple5.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.head-container .title {
  margin-bottom: 100px !important;
}

.head-container .title h1 {
  color: #ffffff;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 12px !important;
}

.head-container .title p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.head-container .head-box {
  width: 70%;
}

.head-container .search-bar {
  background-color: #ffffff;
  border-radius: 100px;
  padding: 22px 10px 22px 30px !important;
  width: 100%;
}

.head-container .search-bar .input-bar {
  position: relative;
  width: 100%;
  margin-right: 10px !important;
}

.head-container .search-bar .input-bar input {
  width: 100%;
  border: none;
  outline: none;
}

.head-container .search-bar .calendar-bar {
  border-left: 1px solid #a3a3a3;
  border-right: 1px solid #a3a3a3;
  position: relative;
}

.head-container .search-bar .calendar-bar .date-box {
  white-space: nowrap;
}

.head-container .search-bar .calendar-bar .date-box {
  padding: 0 10px !important;
  pointer-events: none;
}

.head-container .search-bar .calendar-bar .date-box p {
  font-size: 12px;
  font-weight: 500;
  margin-right: 10px !important;
  line-height: 1;
}

.head-container .search-bar .calendar-bar .date-box img {
  height: 15px;
}

/* calendar picker  */
#calendarPicker {
  position: absolute;
  top: 46px;
  right: calc(50% - 276px);
  background-color: #ffffff;
  box-shadow: 55px 154px 145px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* lite picker  */
.litepicker .container__months {
  box-sizing: content-box !important;
}

.litepicker .container__months .month-item-header div > .month-item-name {
  margin-right: 5px !important;
}

.litepicker .container__months .month-item-header .button-previous-month,
.litepicker .container__months .month-item-header .button-next-month {
  padding: 3px 5px !important;
}

.litepicker .container__months .month-item-header {
  padding: 10px 5px !important;
}

.litepicker .container__months .month-item-weekdays-row > div {
  padding: 5px 0 !important;
}

.litepicker .container__days > div,
.litepicker .container__days > a {
  padding: 5px 0 !important;
}

.litepicker .container__months .month-item {
  padding: 5px !important;
  box-sizing: content-box !important;
}

.litepicker .container__days .day-item.is-end-date {
  background-color: #ff5a10 !important;
}

.head-container .search-bar .room-bar {
  border-right: 1px solid #a3a3a3;
  position: relative;
}

.head-container .search-bar .room-bar .room-text {
  padding: 0 4px !important;
  pointer-events: none;
}

.head-container .search-bar .room-bar .room-text:nth-child(1) {
  padding-left: 10px !important;
}

.head-container .search-bar .room-bar .room-text:nth-last-child(1) {
  padding-right: 10px !important;
}

.head-container .search-bar .room-bar .room-text p {
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  white-space: nowrap;
}

.head-container .search-bar .room-bar .room-text img {
  height: 18px;
}

.head-container .search-bar .btn-bar {
  padding-left: 10px !important;
}

.head-container .search-bar .btn-bar a {
  color: #ffffff;
  background-color: #ff5a10;
  font-weight: 700;
  text-decoration: none;
  height: 100%;
  font-size: 14px;
  padding: 16px 44px !important;
  border-radius: 100px;
}

/* room selector  */
#roomUsersSelector {
  position: absolute;
  right: 0;
  top: 46px;
  padding: 20px 20px 10px 20px !important;
  background-color: #ffffff;
  width: auto;
  border-radius: 10px;
  box-shadow: 55px 154px 145px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

#roomUsersSelector .left {
  font-size: 16px;
  margin-right: 40px !important;
  pointer-events: none;
}

#roomUsersSelector .left .selector {
  margin-bottom: 4px !important;
}

#roomUsersSelector .right {
  margin-left: 40px !important;
}

#roomUsersSelector .right .selector-tool {
  min-width: 100px;
  margin-bottom: 10px !important;
}

#roomUsersSelector .right .selector-tool .value {
  font-size: 16px;
  text-align: center;
  pointer-events: none;
}

#roomUsersSelector .minus-tool {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url("/assets/image/minus.png");
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: all;
  cursor: pointer;
}

#roomUsersSelector .minus-tool.disabled {
  cursor: not-allowed;
  pointer-events: none;
  background-image: url("/assets/image/minus-disabled.png");
}

#roomUsersSelector .plus-tool {
  display: inline-block;
  cursor: pointer;
  width: 18px;
  height: 18px;
  background-image: url("/assets/image/plus.png");
  background-repeat: no-repeat;
  background-size: contain;
}

/* banner row */
.banner-container {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}

.banner-container .banner-row .box {
  position: relative;
  width: 40%;
  height: 280px;
  padding: 30px !important;
  background-color: #ff5a10;
  border-radius: 12px;
  overflow: hidden;
}

.banner-container .banner-row .box.dark-box {
  background-color: #000000;
}

.banner-container .banner-row .box:nth-child(1) {
  margin-right: 10px !important;
}

.banner-container .banner-row .box:nth-last-child(1) {
  margin-left: 10px !important;
}

.banner-container .banner-row .box .title h1 {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 8px !important;
}

.banner-container .banner-row .box .title p {
  font-size: 12px;
  font-weight: 500;
  padding-right: 70px !important;
  color: #ffffff;
}

.banner-container .banner-row .box .vector-img {
  position: absolute;
  bottom: 16px;
  right: -56px;
}

.banner-container .banner-row .box .vector-img img {
  height: 160px;
}

/* explore container  */
.explore-container {
  background-color: #006ce6;
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

.explore-container.dark-explore-container {
  background-color: #000000;
}

.explore-container .title {
  margin-bottom: 80px !important;
}

.explore-container .title h1 {
  color: #ffffff;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 8px !important;
}

.explore-container .title p {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}

.explore-container .gallery-box .box {
  width: calc(100% / 4);
  margin: 0 15px 30px 15px !important;
  transition: all 0.3s ease;
}

.explore-container .gallery-box .box:nth-child(1) {
  margin-left: 0 !important;
}

.explore-container .gallery-box .box:nth-last-child(1) {
  margin-right: 0 !important;
}

.explore-container .gallery-box .box .img-container {
  width: 100%;
  height: 260px;
  border-radius: 12px;
}

.explore-container .gallery-box .box .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.explore-container .gallery-box .box .info {
  padding-top: 20px !important;
}

.explore-container .gallery-box .box .info h1 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
}

.explore-container .gallery-box .box .info p {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
}

.explore-container .btn-container a {
  background-color: #ff5a10;
  border: 1px solid #ff5a10;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  padding: 10px 40px !important;
  border-radius: 100px;
}

.explore-container.dark-explore-container .btn-container a {
  background-color: #000000;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  padding: 10px 40px !important;
  border-radius: 100px;
}

/* service container  */
.service-container {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

.service-container .head-text {
  padding-bottom: 60px !important;
}

.service-container .head-text h1 {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px !important;
}

.service-container .head-text p {
  text-align: center;
  font-size: 14px;
  color: #6d6d6d;
}

.service-container .box-row .box {
  position: relative;
  width: 40%;
  height: 280px;
  padding: 40px !important;
  background-color: #ff5a10;
  border-radius: 12px;
  overflow: hidden;
}

.service-container .box-row .box.dark-box {
  background-color: #000000;
}

.service-container .box-row .box.light-box {
  background-color: #006ce6;
}

.service-container .box-row .box:nth-child(1) {
  margin-right: 10px !important;
}

.service-container .box-row .box:nth-last-child(1) {
  margin-left: 10px !important;
}

.service-container .box-row .box .title h1 {
  color: #ffffff;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 8px !important;
}

.service-container .box-row .box .title p {
  font-size: 12px;
  font-weight: 500;
  padding-right: 70px !important;
  color: #ffffff;
}

.service-container .box-row .box .btn-container {
  padding-top: 50px !important;
}

.service-container .box-row .box .btn-container a {
  font-size: 14px;
  color: #ff5a10;
  background-color: #ffffff;
  padding: 10px 30px !important;
  border-radius: 100px;
  text-decoration: none;
  font-weight: 700;
}

.service-container .box-row .box.light-box .btn-container a {
  color: #006ce6;
}

.service-container .box-row .box.dark-box .btn-container a {
  color: #000000;
}

.service-container .box-row .box .vector-img {
  position: absolute;
  bottom: 16px;
  right: -56px;
}

.service-container .box-row .box .vector-img img {
  height: 160px;
}

.service-container .box-row.full-box-row .box {
  margin-bottom: 20px !important;
  width: calc(80% + 20px);
}

.service-container .box-row.full-box-row .box:nth-child(1) {
  margin-right: 0 !important;
}

.service-container .box-row.full-box-row .box:nth-last-child(1) {
  margin-left: 0 !important;
}

/* subscribe container  */
.subscribe-container {
  background-color: #006ce6;
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

.subscribe-container .title {
  margin-bottom: 60px !important;
}

.subscribe-container .title h1 {
  color: #ffffff;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
}

.subscribe-container .input-box {
  width: 600px;
  position: relative;
}

.subscribe-container .input-box input {
  border: none;
  outline: none;
  padding: 14px 50px 14px 24px !important;
  font-size: 12px;
  border-radius: 100px;
  width: 100%;
}

.subscribe-container .input-box img {
  position: absolute;
  height: 20px;
  top: calc(50% - 10px);
  right: 20px !important;
}

/* upcoming container  */
.upcoming-container {
  background-color: #000000;
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

.upcoming-container .title {
  margin-bottom: 60px !important;
}

.upcoming-container .title h1 {
  color: #ffffff;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
}

.upcoming-container .img-container img {
  height: 90px;
  opacity: 0.9;
}

/* footer container  */
.footer-container {
  padding-top: 100px !important;
  padding-bottom: 50px !important;
  background-color: #ffffff;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.footer-container .footer-logo img {
  height: 20px;
}

.footer-container .footer-links p {
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px !important;
}

.footer-container .footer-links .link-list a {
  font-size: 12px;
  color: #006ce6;
  line-height: 1;
  margin-bottom: 20px !important;
}

/* responsive  */
@media (max-width: 1700px) {
  .explore-container .gallery-box .box .img-container {
    width: 100%;
    height: 250px;
  }
}

@media (max-width: 1600px) {
  .head-container .head-box {
    width: 80%;
  }
}

@media (max-width: 1500px) {
  .explore-container .gallery-box .box {
    width: calc(100% / 3);
  }
}

@media (max-width: 1400px) {
  .head-container .head-box {
    width: 90%;
  }
  .banner-container .banner-row .box {
    width: 45%;
  }
  .service-container .box-row .box {
    width: 45%;
  }
  .service-container .box-row.full-box-row .box {
    width: calc(90% + 20px);
  }
}

@media (max-width: 1300px) {
  .nav-bar .input-container input {
    width: 340px;
  }
  .nav-bar .link-container a {
    padding-left: 35px !important;
  }
}

@media (max-width: 1200px) {
  .nav-bar .input-container input {
    width: 250px;
    font-size: 14px;
  }
  .nav-bar .link-container a {
    padding-left: 30px !important;
  }
  .content-container {
    padding-left: 70px !important;
    padding-right: 70px !important;
  }
  .banner-container .banner-row .box {
    width: 50%;
  }
  .service-container .box-row .box {
    width: 50%;
  }
  .service-container .box-row.full-box-row .box {
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .head-container .head-box {
    width: 100%;
  }
  .explore-container .gallery-box .box .img-container {
    width: 100%;
    height: 240px;
  }
}

@media (max-width: 1023px) {
  .nav-bar .link-container a {
    padding-left: 20px !important;
  }
  .content-container {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
  .nav-bar {
    padding: 20px 0 !important;
  }
  .head-container .title {
    margin-bottom: 80px !important;
  }
  .head-container .title h1 {
    font-size: 44px;
  }
  .explore-container .gallery-box {
    flex-direction: column;
  }
  .explore-container .gallery-box .box {
    width: calc(100% / 1.8);
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .explore-container .gallery-box .box .img-container {
    height: 260px !important;
  }
  .explore-container .gallery-box .box .info h1 {
    text-align: center;
  }
  .explore-container .gallery-box .box .info p {
    text-align: center;
  }
  .service-container .box-row .box .title p br {
    display: none;
  }
  .service-container .box-row.full-box-row .box .title p br {
    display: block;
  }
}

@media (max-width: 991px) {
  .head-container .search-bar {
    flex-direction: column;
    background-color: transparent;
    padding: 0 !important;
  }
  .head-container .search-bar .input-bar {
    padding: 16px 30px !important;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 100px;
    margin-right: 0 !important;
    margin-bottom: 10px !important;
  }
  .head-container .search-bar .input-bar input {
    background-color: transparent;
  }
  .head-container .search-bar .calendar-bar {
    width: 100%;
    background-color: #ffffff;
    border-radius: 100px;
    padding: 20px 30px !important;
    margin-bottom: 10px !important;
    border: none;
  }
  .head-container .search-bar .calendar-bar .date-box:nth-child(1) {
    border-right: 1px solid #a3a3a3;
  }
  .head-container .search-bar .room-bar .room-text {
    padding: 0 10px !important;
  }
  .head-container .search-bar .room-bar .room-text:nth-last-child(1) {
    padding-left: 0 !important;
  }
  .head-container .search-bar .room-bar .room-text:nth-child(2) {
    border-left: 1px solid #a3a3a3;
    border-right: 1px solid #a3a3a3;
  }
  .head-container .search-bar .room-bar {
    width: 100%;
    background-color: #ffffff;
    border-radius: 100px;
    padding: 20px 30px !important;
    margin-bottom: 10px !important;
    border: none;
  }
  .head-container .search-bar .btn-bar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .head-container .search-bar .btn-bar {
    width: 100%;
  }
  .head-container .search-bar .btn-bar a {
    width: 100%;
    text-align: center;
  }
  .footer-container .footer-box {
    margin-bottom: 30px !important;
  }
}

@media (max-width: 767px) {
  .content-container {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .nav-bar .link-container {
    display: none;
  }
  .nav-tab {
    display: flex;
  }
  .head-container .title {
    margin-bottom: 60px !important;
  }
  .head-container .title h1 {
    font-size: 38px;
  }
  #calendarPicker {
    position: absolute;
    top: 46px;
    right: calc(50% - 138px);
  }
  .banner-container .banner-row {
    flex-direction: column;
  }
  .banner-container .banner-row .box {
    width: 100%;
  }
  .banner-container .banner-row .box:nth-child(1) {
    margin-right: 0 !important;
    margin-bottom: 20px !important;
  }
  .banner-container .banner-row .box:nth-last-child(1) {
    margin-left: 0 !important;
  }
  .explore-container .gallery-box .box {
    width: calc(100% / 1.6);
  }
  .service-container .box-row {
    flex-direction: column;
  }
  .service-container .box-row .box {
    width: 100%;
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  .service-container .box-row .box:nth-child(1) {
    margin-right: 0 !important;
    margin-bottom: 20px !important;
  }
  .service-container .box-row .box:nth-last-child(1) {
    margin-left: 0 !important;
  }
}

@media (max-width: 575px) {
  .footer-container .footer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer-container .footer-links .link-list {
    align-items: center;
  }
}

@media (max-width: 550px) {
  .content-container {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .head-container {
    height: 100vh;
  }
  .head-container .title {
    margin-bottom: 40px !important;
  }
  .head-container .title h1 {
    font-size: 34px;
  }
  .head-container .title p {
    font-size: 12px;
  }
  .banner-container .banner-row .box {
    padding: 20px !important;
  }
  .explore-container .gallery-box .box {
    width: calc(100% / 1.2);
  }
  .service-container .box-row .box {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .service-container .box-row.full-box-row .box .title p br {
    display: none;
  }
  .upcoming-container .img-container {
    flex-direction: column;
  }
  .upcoming-container .img-container img {
    margin: 0 !important;
    margin-bottom: 20px !important;
  }
}

@media (max-width: 450px) {
  .explore-container .gallery-box .box {
    width: calc(100% / 1);
  }
  .service-container .head-text p br {
    display: none;
  }
  .head-container .title p br {
    display: none;
  }
}

@media (max-width: 400px) {
  .banner-container .banner-row .box .title p {
    padding-right: 0 !important;
  }
  .service-container .box-row .box .title p {
    padding-right: 0 !important;
  }
}

@media (max-width: 767px) {
  .main-container .video-box {
    flex-direction: column;
  }
  .main-container .video-box .left-box {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
