@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}

.admin-roam-body.fixed-body {
  overflow: hidden;
}

/* main container  */
/* mobile nav  tab*/
.nav-tab {
  cursor: pointer;
  display: none;
  width: fit-content;
}

.nav-tab .box {
  background-color: #ececec;
  border-radius: 10px;
  padding: 10px !important;
}

.nav-tab span {
  width: 28px;
  height: 3px;
  border-radius: 10px;
  background-color: #006ce6;
  margin: 5px 0 !important;
  pointer-events: none;
}
/* left container  */
.main-container .left-container {
  min-width: 260px;
  max-width: 260px;
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #006ce6;
  height: 100vh;
  z-index: 999999;
}

.main-container .left-container .heading-text {
  pointer-events: none;
  padding: 40px 0 !important;
}

.main-container .left-container .heading-text h1 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  pointer-events: none;
}

.main-container .left-container .side-nav .list {
  padding: 16px 20px 16px 30px !important;
  text-decoration: none;
}

.main-container .left-container .side-nav .list.active {
  background-color: rgba(255, 255, 255, 0.2);
  border-left: 5px solid #ff5a10;
}

.main-container .left-container .side-nav .list img {
  pointer-events: none;
}

.main-container .left-container .side-nav .list p {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  padding-left: 14px !important;
  pointer-events: none;
}

.main-container .left-container .side-nav .drop-list {
  padding: 10px 0 !important;
  padding-left: 88px !important;
}

.main-container .left-container .side-nav .drop-list ul {
  color: #ffffff;
  font-size: 12px;
}

.main-container .left-container .side-nav .drop-list ul li a {
  color: #ffffff;
  display: block;
  padding: 8px 0 !important;
  font-size: 12px;
  text-decoration: none;
}

.main-container .left-container .logout-box {
  position: absolute;
  bottom: 30px;
  width: 100%;
}

.main-container .left-container .logout-box .list {
  cursor: pointer;
}

.main-container .left-container .logout-box img {
  pointer-events: none;
}

.main-container .left-container .logout-box p {
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  margin-left: 15px !important;
  pointer-events: none;
}

/* right container  */
.main-container .right-container {
  padding-left: 260px !important;
  background-color: #f5faff;
  min-height: 100vh;
}

.main-container .right-container .primary-container .nav-banner {
  background-color: #ffffff;
  padding: 20px 28px !important;
}

.main-container
  .right-container
  .primary-container
  .nav-banner
  .profile
  .title
  p {
  font-size: 10px;
}

.main-container
  .right-container
  .primary-container
  .nav-banner
  .profile
  .title
  h1 {
  font-size: 12px;
  font-weight: 600;
}

.main-container
  .right-container
  .primary-container
  .nav-banner
  .profile
  .image-container {
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #dfe0eb;
  padding: 2px !important;
  margin-left: 15px !important;
}

.main-container
  .right-container
  .primary-container
  .nav-banner
  .profile
  .image-container
  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/* heading title  */
.main-container .right-container .primary-container .heading-title h1 {
  font-size: 24px;
  font-weight: 700;
}

/* table container  */
.main-container .right-container .primary-container .table-container {
  background-color: #ffffff;
  border: 1px solid #dfe0eb;
  border-radius: 8px;
}

.main-container
  .right-container
  .primary-container
  .table-container
  .head-box
  h1 {
  font-size: 18px;
  font-weight: 700;
}

.main-container
  .right-container
  .primary-container
  .table-container
  .head-box
  .input-box {
  position: relative;
  border: 2px solid #f0f1f7;
  border-radius: 100px;
  padding: 8px 14px !important;
  margin-left: 20px !important;
}

.main-container
  .right-container
  .primary-container
  .table-container
  .head-box
  .input-box
  img {
  height: 14px;
}

.main-container
  .right-container
  .primary-container
  .table-container
  .head-box
  .input-box
  input {
  outline: none;
  border: none;
  font-size: 12px;
  margin-left: 8px !important;
  width: 250px;
}

.main-container
  .right-container
  .primary-container
  .table-container
  .head-box
  .btn-container
  a {
  background-color: #006ce6;
  text-decoration: none;
  color: #ffffff;
  font-size: 10px;
  padding: 6px 14px !important;
  border-radius: 50px;
  font-weight: 500;
  margin-right: 16px !important;
}

.main-container
  .right-container
  .primary-container
  .table-container
  .head-box
  .icons-container {
  position: relative;
}

.main-container
  .right-container
  .primary-container
  .table-container
  .head-box
  .icons-container
  .icon {
  cursor: pointer;
}

.main-container
  .right-container
  .primary-container
  .table-container
  .head-box
  .icons-container
  .icon
  img {
  pointer-events: none;
}

.main-container
  .right-container
  .primary-container
  .table-container
  .head-box
  .icons-container
  .icon
  p {
  color: #959595;
  font-size: 12px;
  margin-left: 8px !important;
  font-weight: 600;
  pointer-events: none;
}

.main-container
  .right-container
  .primary-container
  .table-container
  .head-box
  .icons-container
  .sort-box {
  position: absolute;
  filter: drop-shadow(0px 4px 40px rgba(0, 0, 0, 0.15));
  border: 1px solid #dfe0eb;
  border-radius: 12px;
  background-color: #fcfdfe;
  top: 40px;
  right: 60px;
  overflow: hidden;
  display: none;
}

.main-container
  .right-container
  .primary-container
  .table-container
  .head-box
  .icons-container
  .sort-box
  .sort-list {
  padding: 20px 40px !important;
  border-bottom: 1px solid #dfe0eb;
}

.main-container
  .right-container
  .primary-container
  .table-container
  .head-box
  .icons-container
  .sort-box
  .sort-list:hover {
  background-color: #f6f6f6;
}

.main-container
  .right-container
  .primary-container
  .table-container
  .head-box
  .icons-container
  .sort-box
  .sort-list.active {
  background-color: #f6f6f6;
}

.main-container
  .right-container
  .primary-container
  .table-container
  .head-box
  .icons-container
  .sort-box
  .sort-list:nth-last-child(1) {
  border-bottom: none;
}

.main-container
  .right-container
  .primary-container
  .table-container
  .head-box
  .icons-container
  .sort-box
  .sort-list
  img {
  margin-right: 8px !important;
  pointer-events: none;
}

.main-container
  .right-container
  .primary-container
  .table-container
  .head-box
  .icons-container
  .sort-box
  .sort-list
  a {
  white-space: nowrap;
  color: #000000;
  font-weight: 500;
  text-decoration: none;
  font-size: 12px;
  display: block;
  pointer-events: none;
}

.main-container
  .right-container
  .primary-container
  .table-container
  .head-box
  .icons-container
  .filter-box {
  position: absolute;
  filter: drop-shadow(0px 4px 40px rgba(0, 0, 0, 0.15));
  border: 1px solid #dfe0eb;
  border-radius: 12px;
  background-color: #fcfdfe;
  top: 40px;
  right: 0px;
  overflow: hidden;
  display: none;
}

.main-container
  .right-container
  .primary-container
  .table-container
  .head-box
  .icons-container
  .filter-box
  .filter-title {
  background-color: #f6f6f6;
  border-bottom: 1px solid #dfe0eb;
  pointer-events: none;
}

.main-container
  .right-container
  .primary-container
  .table-container
  .head-box
  .icons-container
  .filter-box
  .filter-title
  h1 {
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
}

.main-container
  .right-container
  .primary-container
  .table-container
  .head-box
  .icons-container
  .filter-box
  .reset-filter {
  background-color: #ffffff;
  border-top: 1px solid #dfe0eb;
  cursor: pointer;
}

.main-container
  .right-container
  .primary-container
  .table-container
  .head-box
  .icons-container
  .filter-box
  .reset-filter:active {
  background-color: #f6f6f6;
}

.main-container
  .right-container
  .primary-container
  .table-container
  .head-box
  .icons-container
  .filter-box
  .reset-filter
  h1 {
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
}

.main-container
  .right-container
  .primary-container
  .table-container
  .head-box
  .icons-container
  .filter-box
  .form-box
  .select-box {
  width: 150px;
}

.main-container
  .right-container
  .primary-container
  .table-container
  .head-box
  .icons-container
  .filter-box
  .form-box
  .select-box
  label {
  color: #000000;
  font-size: 10px;
  font-weight: 500;
  margin-bottom: 6px !important;
  pointer-events: none;
}

.main-container
  .right-container
  .primary-container
  .table-container
  .head-box
  .icons-container
  .filter-box
  .form-box
  .select-box
  .select-wrapper {
  position: relative;
}

.main-container
  .right-container
  .primary-container
  .table-container
  .head-box
  .icons-container
  .filter-box
  .form-box
  .select-box
  .select-wrapper
  img {
  position: absolute;
  height: 16px;
  top: calc(50% - 8px);
  right: 10px;
  pointer-events: none;
}

.main-container
  .right-container
  .primary-container
  .table-container
  .head-box
  .icons-container
  .filter-box
  .form-box
  .select-box
  .select-wrapper
  select {
  border: none;
  outline: none;
  background: #ffffff;
  border: 1px solid #dfe0eb;
  padding: 8px 16px !important;
  border-radius: 100px;
  font-size: 10px;
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  text-transform: uppercase;
  font-weight: 600;
  color: #959595;
}

.main-container
  .right-container
  .primary-container
  .table-container
  .head-box
  .icons-container
  .filter-box
  .btn-container
  a {
  background-color: #006ce6;
  border-radius: 100px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1.2px;
  padding: 8px 20px !important;
}

/* table  */
.table td,
.table th {
  padding: 20px 20px !important;
  font-size: 12px;
  font-weight: normal;
  color: #959595;
  white-space: nowrap;
}

.table th {
  font-weight: 600;
}

.table td.td-bold {
  color: #000000;
  font-weight: 600;
}

.table td .action-link {
  color: #959595;
  text-decoration: none;
  font-weight: 600;
  padding: 0 6px !important;
  line-height: 0.5;
}

.table td .status-text {
  font-size: 10px;
  min-width: 60px;
  width: 60px;
  text-align: center;
  border-radius: 100px;
  padding: 2px 2px !important;
  font-weight: 600;
}

.table td .status-text.booked-status {
  color: #27ae60;
  border: 1px solid #27ae60;
}

.table td .status-text.open-status {
  color: #006ce6;
  border: 1px solid #006ce6;
}

.table td .status-text.inactive-status {
  color: #ff1010;
  border: 1px solid #ff1010;
}

.table td .status-text.pending-status {
  color: #e2b93b;
  border: 1px solid #e2b93b;
}

.table td .action-link:hover {
  color: #006ce6;
}

tr {
  border-top: 1px solid #dfe0eb;
}

thead tr {
  border: none;
}

tr:hover {
  background-color: #f6f6f6;
}

.main-container .pagination-box {
  border-top: 1px solid #dfe0eb;
}

.main-container .pagination-box .box p {
  color: #959595;
  font-size: 12px;
  margin-right: 10px !important;
}

.main-container .pagination-box .box .icon-box img {
  height: 12px;
  margin: 0 10px !important;
}

.main-container .pagination-box .box p span.page-number {
  color: #000000;
  font-weight: 600;
}

/* form container  */
.main-container .form-container {
  background-color: #ffffff;
  padding: 20px !important;
  display: none;
}

.main-container .form-container .head-title h1 {
  font-size: 14px;
  font-weight: 600;
}

.main-container .form-container .input-box {
  margin-bottom: 12px !important;
  width: 50%;
}

.main-container .form-container .input-box label {
  color: #959595;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 6px !important;
}

.main-container .form-container .input-box input {
  border: none;
  outline: none;
  background: #ffffff;
  border: 1px solid #dfe0eb;
  padding: 8px 20px !important;
  border-radius: 100px;
  font-size: 12px;
  width: 100%;
}

.main-container .form-container .input-box .select-wrapper {
  position: relative;
}

.main-container .form-container .input-box .select-wrapper img {
  position: absolute;
  height: 16px;
  top: calc(50% - 8px);
  right: 10px;
  pointer-events: none;
}

.main-container .form-container .input-box select {
  border: none;
  outline: none;
  background: #ffffff;
  border: 1px solid #dfe0eb;
  padding: 8px 20px !important;
  border-radius: 100px;
  font-size: 12px;
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  color: #000000;
}

.main-container .form-container .upload-input-box {
  width: 100%;
}

.main-container .form-container .input-box .upload-wrapper {
  border: 1px dashed #dfe0eb;
  border-radius: 18px;
  padding: 50px 20px !important;
}

.main-container .form-container .input-box .upload-wrapper p {
  color: #959595;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 10px !important;
}

.main-container .form-container .input-box .upload-wrapper a {
  border: 1px solid #dfe0eb;
  border-radius: 100px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-size: 10px;
  padding: 8px 50px !important;
  position: relative;
}

.main-container .form-container .input-box .upload-wrapper a img {
  height: 14px;
  margin-right: 6px !important;
}

.main-container .form-container .input-box .upload-wrapper a input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.main-container .form-container .input-box.textarea-input-box {
  width: 100%;
}

.main-container .form-container .input-box textarea {
  border: none;
  outline: none;
  background: #ffffff;
  border: 1px solid #dfe0eb;
  padding: 10px 20px !important;
  border-radius: 18px;
  font-size: 12px;
  width: 100%;
}

.main-container .form-container .btn-container a {
  background-color: #006ce6;
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
  padding: 6px 20px !important;
  border-radius: 50px;
  font-weight: 600;
  border: 1px solid #006ce6;
}

.main-container .form-container .btn-container a.cancel-booking-btn {
  background-color: #ffffff;
  color: #006ce6;
  border: 1px solid #006ce6;
  margin-left: 10px !important;
}

/* responsive  */
@media (max-width: 1200px) {
  .main-container .left-container {
    left: -100%;
  }
  .main-container .right-container {
    padding-left: 0 !important;
  }
  .nav-tab {
    display: flex;
  }
}

@media (max-width: 1100px) {
}

@media (max-width: 1023px) {
}

@media (max-width: 900px) {
}

@media (max-width: 767px) {
  .nav-tab {
    padding-left: 0.5rem !important;
  }
  .main-container .right-container .primary-container .nav-banner {
    padding: 20px 12px !important;
  }
  .main-container .right-container .primary-container .container-wrapper {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
  .main-container .right-container .primary-container .heading-title h1 {
    text-align: center;
  }
  .main-container
    .right-container
    .primary-container
    .table-container
    .head-box {
    flex-direction: column;
  }
  .main-container
    .right-container
    .primary-container
    .table-container
    .head-box
    .input-container {
    flex-direction: column;
  }
  .main-container
    .right-container
    .primary-container
    .table-container
    .head-box
    .input-box {
    margin-left: 0 !important;
    margin: 20px 0 !important;
  }
  .main-container
    .right-container
    .primary-container
    .table-container
    .head-box
    .tool-wrapper {
    flex-direction: column;
  }
  .main-container
    .right-container
    .primary-container
    .table-container
    .head-box
    .btn-container {
    margin-bottom: 20px !important;
  }
  .main-container
    .right-container
    .primary-container
    .table-container
    .head-box
    .btn-container
    a {
    margin-right: 0 !important;
  }
}

@media (max-width: 600px) {
  .main-container
    .right-container
    .primary-container
    .table-container
    .head-box
    .icons-container
    .sort-box {
    right: -46px;
  }
  .main-container
    .right-container
    .primary-container
    .table-container
    .head-box
    .icons-container
    .filter-box {
    right: -120px !important;
  }
  .main-container .form-container .input-row {
    flex-direction: column;
  }
  .main-container .form-container .input-box {
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (max-width: 550px) {
}

@media (max-width: 450px) {
  .main-container
    .right-container
    .primary-container
    .table-container
    .head-box
    .input-container {
    width: 100%;
  }
  .main-container
    .right-container
    .primary-container
    .table-container
    .head-box
    .input-box {
    width: 100%;
  }
  .main-container
    .right-container
    .primary-container
    .table-container
    .head-box
    .input-box
    input {
    width: 100%;
  }
  .main-container
    .right-container
    .primary-container
    .table-container
    .head-box
    .icons-container
    .filter-box {
    right: -86px !important;
  }
  .main-container
    .right-container
    .primary-container
    .table-container
    .head-box
    .icons-container
    .filter-box
    .form-box
    .select-box {
    width: 120px;
  }
}

@media (max-width: 400px) {
}
